__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.kvist-cache/
.nrepl-port
.calva/repl.calva-repl
.clj-kondo/.cache/
.lsp/.cache/
/.tooling/
/tests.bin
*.odin.tmp
.worktrees/
/kvist
/.DS_Store
/examples/.DS_Store
/examples/**/.DS_Store
/examples/.kvist-symbols-*.tmp
/tmp
